/* Define a aparência do menu e dos links de navegação. */
.menu {
  background: #333;
  padding: 10px;
}

.menu button {
  background: none;
  color: white;
  font-size: 15px;
  border: none;
  cursor: pointer;
  display: none;
}

.links {
  display: flex;
  gap: 15px;
}

.links a {
  color: white;
  text-decoration: none;
}

/* Em telas pequenas, exibe o botão do menu e organiza os links em coluna. */
@media (max-width: 600px) {

  .menu button {
    display: block;
  }

  .links {
    display: none;
    flex-direction: column;
    margin-top: 10px;
  }

  .links.ativo {
    display: flex;
  }
}

/* Define a fonte e tamanho do texto */
body {
  font-size: 16px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
  background: white;
  color: black;
  transition: 0.3s;
}

/* Altera as cores da página quando o tema escuro é aplicado. */
body.dark {
  background: #121212;
  color: white;
}

/* Define a posição e o estilo do botão de alternar entre os temas. */
#btnTema {
  font-size: 15px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  position: fixed;
  top: 9px;
  right: 20px;
}

#btnTema {
  padding: 10px 18px;
  border-radius: 20px;
  border: none;
  background: #dfdfdf;
}

/*Muda a cor do botão quando o cursor passa sobre ele. */
#btnTema:hover {
  color: white;
  background: #555555;
  transition: 0.2s;
}
